{%- liquid
  unless page_handle
    assign logo_default = section.settings.logo
  else
    assign page_brand = pages[page_handle]
    assign logo_default = page_brand.metafields.theme.brand.value.logo | default: section.settings.logo
  endunless
  assign logo_mobile = page_brand.metafields.theme.brand.value.logo_mobile | default: section.settings.logo_mobile | default: logo_default
  assign logo = logo_default
-%}
<div class="hdt-logo hdt-flex hdt-align-center{% if section.settings.header_layout == "logo_center" %} hdt-justify-center{% endif %} {{ header_e_commerce_attr }}">
  {%- if logo != blank -%}
    <a class="hdt-inline-flex hdt-align-center" href="{{ page_brand.metafields.theme.brand.value.url.value.url | default: routes.root_url }}">
      {%- liquid
        assign logo_width_2x = section.settings.logo_width | times: 2
        assign logo_width_mb_2x = section.settings.logo_width_mb | times: 2
        assign logo_height = section.settings.logo_width | divided_by: section.settings.logo.aspect_ratio | round
        assign logo_height_mb = section.settings.logo_width_mb | divided_by: section.settings.logo.aspect_ratio | round
      -%}
      {%- capture sizes -%}(min-width: 768px) {{ section.settings.logo_width }}px, {{ section.settings.logo_width_mb }}px{%- endcapture -%}
      {%- capture srcset -%}{{ logo_mobile | image_url: width: section.settings.logo_width_mb }} 1x, {{ logo_mobile | image_url: width: logo_width_mb_2x }} 2x{%- endcapture -%}

      <picture class="hdt-logo-default">
        <source media="(min-width:768px)" srcset="{{ logo | image_url: width: section.settings.logo_width }} 1x, {{ logo | image_url: width: logo_width_2x }} 2x">
        {{- logo_mobile | image_url: width: logo_width_2x | image_tag: class: 'hdt-logo-img', widths: nil, height: logo_height_mb, width: section.settings.logo_width_mb, sizes: sizes, srcset: srcset, reload: true -}}
      </picture>
      
      {%- if section.settings.header_transparent and section.settings.logo_transparent != blank and section.settings.logo_transparent != section.settings.logo -%}
        {%- liquid          
          assign logo_default = section.settings.logo_transparent | default: logo
          assign logo_mobile = page_brand.metafields.theme.brand.value.logo_transparent_mobile | default: section.settings.logo_transparent_mobile | default: logo_default
        -%}
        {%- capture sizes -%}(min-width: 768px) {{ section.settings.logo_width }}px, {{ section.settings.logo_width_mb }}px{%- endcapture -%}
        {%- capture srcset -%}{{ logo_mobile | image_url: width: section.settings.logo_width_mb }} 1x, {{ logo_mobile | image_url: width: logo_width_mb_2x }} 2x{%- endcapture -%}
        <picture class="hdt-logo-transparent">
          <source media="(min-width:768px)" srcset="{{ section.settings.logo_transparent | image_url: width: section.settings.logo_width }} 1x, {{ section.settings.logo_transparent | image_url: width: logo_width_2x }} 2x">
          {{- logo_mobile | image_url: width: logo_width_2x | image_tag: class: 'hdt-logo-img', widths: nil, height: logo_height, width: section.settings.logo_width, sizes: sizes, srcset: srcset, reload: true -}}
        </picture>
      {%- endif -%}
    </a>
    {%- style -%}
      .hdt-logo {
        padding: 5px 0;
      }
    	.hdt-logo picture img {
    		width: {{ section.settings.logo_width_mb | at_most: logo_mobile.width }}px;
    	}
    	@media (min-width: 768px) {
    		.hdt-logo picture img{
    			width: {{ section.settings.logo_width | at_most: logo.width }}px;
    		}
    	}
      {%- if section.settings.header_transparent and section.settings.logo_transparent != blank and section.settings.logo_transparent != section.settings.logo -%}
        .hdt-logo a {
          display: grid;
        }
        body:has(#MainContent > .section-allow-transparent.hdt-section:first-child) .hdt-logo picture.hdt-logo-default,
        .scrolled-past-header.shopify-section-header-sticky .hdt-logo picture.hdt-logo-transparent {
          content-visibility: hidden;
        }
        .scrolled-past-header.shopify-section-header-sticky .hdt-logo picture.hdt-logo-default {
          content-visibility: visible !important;
        }
        body:has(#MainContent > *:first-child:not(.section-allow-transparent)) .hdt-logo picture.hdt-logo-transparent {
          content-visibility: hidden;
        }
      {%- endif -%}
    {%- endstyle -%}
  {%- else -%}
    <a class="hdt-inline-flex hdt-align-center" href="{{ page_brand.metafields.theme.brand.value.url.value.url | default: routes.root_url }}">{{- shop.name -}}</a>
  {%- endif -%}
</div>